/* Styles for the entire body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ece2;
    color: #3a3535;
}

/* Navigation styles */
nav {
    background-color: #d17a22;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Section styles */
section {
    padding: 50px 20px;
    text-align: center;
}

/* Styles for the intro section */
#intro {
    background-color: #d17a22;
    color: white;
}

/* Styles for headers and paragraphs */
h1, h2, p {
    margin: 10px 0;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
}

/* Testimonial styles */
.testimonial {
    background-color: #e7dcd4;
    padding: 20px;
    margin: 20px 0;
}

/* Contact styles */
#contact div {
    background-color: #e7dcd4;
    padding: 20px;
    margin: 20px 0;
}